<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/acb043a3-ccbd-42c2-9144-f0e2f6bc5046/resourceGroups/Testes/providers/Microsoft.Web/sites/avaliacao-b3</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://avaliacao-b3-cxd4b2hrc4etc9hz.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f0f13ad1-6f0e-464e-811f-6d06ceda5117</ProjectGuid>
    <PublishUrl>https://avaliacao-b3-cxd4b2hrc4etc9hz.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$avaliacao-b3</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>